(function env(window) {
    window.REX = window.REX || {};
    window.REX.Services = ${services};

    window.CONSOLA_LEVEL = "${LOG_LEVEL}";
    window.REX.DRAFT_OFFERS_DATADOG_RUM_APP_ID = "${DRAFT_OFFERS_DATADOG_RUM_APP_ID}";
    window.REX.DRAFT_OFFERS_DATADOG_RUM_CLIENT_TOKEN = "${DRAFT_OFFERS_DATADOG_RUM_CLIENT_TOKEN}";
    window.REX.DRAFT_OFFERS_DATADOG_RUM_SAMPLE_RATE = ${DRAFT_OFFERS_DATADOG_RUM_SAMPLE_RATE};
    window.REX.REX_CICD_CLUSTER = "${REX_CICD_CLUSTER}";
    window.REX.REX_CICD_CONFIG_PRODUCTION = "${REX_CICD_CONFIG_PRODUCTION}";
    window.REX.REX_CICD_NAMESPACE = "${REX_CICD_NAMESPACE}";
    window.REX.REX_CONTAINER_GLOBAL_PROFILE = "${REX_CONTAINER_GLOBAL_PROFILE}";
    window.REX.REX_HOMES_URL = window.REX.Services["site-static"];
    window.REX.REX_SVC_CLIENT_DRAFT_OFFER_HOST = window.REX.Services["draft-offers-api"];
    window.REX.REX_SVC_CLIENT_REX_APP_HOST = window.REX.Services["rex-app"];
    window.REX.REX_SVC_CLIENT_SHERPA_HOST = window.REX.Services["sherpa-api"];
}(this));
