(function env(window) {
  window.REX = window.REX || {};

  window.REX.OKTA = window.REX.OKTA || {};
  window.REX.OKTA.PRISM_CLIENT_ID = "${OKTA_PRISM_CLIENT_ID}";
  window.REX.OKTA.ISSUER = "${OKTA_ISSUER}";
  window.REX.OKTA.OKTA_TESTING_DISABLEHTTPSCHECK = true;
  window.REX.OKTA.REDIRECT_URI = `${window.location.origin}/login/callback`;

  window.REX.servicesHolder = ${services};
  window.REX.SERVICES = window.REX.SERVICES || {};
  window.REX.SERVICES.PRISM_API = "${window.REX.servicesHolder["prism-api"]}"
}(this));
